InputPanel {
  width: 70%;
  margin: 1;
  height: 4;
  min-width: 5;
  dock: bottom;
}

InfoPanel {
  height: 100%;
  width: 100%;
}

ChatPanel {
  height: 100%;
  width: 100%;
  margin: 1;
}

ChatMessage {
  width: 80%;
  padding: 1;
  margin: 1;
}

CopyButton {
  max-width: 6;
  margin: 1;
  dock: right;
}

.message-sender {
  max-height: 5;
  max-width: 10;
  padding: 1;
  border: solid white;
}

.message-text {
  padding: 1;
  border: solid white;
}

.info-button {
  width: 100%;
}

.avatar {
  width: 100%;
  max-height: 8;
}

#info {
  height: 100%;
  width: 28;
}

#chat {
  height: 100%;
  max-width: 80%;
}

#send {
  max-width: 8;
}

#ai-avatar {
  color: cyan;
}

#user-avatar {
  color: green;
  dock: bottom;
}
